nav>ul{
    text-align:right;
    border:20px;
}
ul>li{
    display: inline-block;
    padding: 1px;
    border:20px;
}
li{
    width: 150px;
    height: 50px;
    left: 61px;
    top: 16px;
    right: 90px;
    background: #298521;
}
li>a{
    width: 7px;
    height: 42px;
    right: 62px;
    top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #F5EDED;
}
#online{
    width: 1102px;
    height: 135px;
    left: 324px;
    top: 110px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 112px;
    color: #038d26;
}
#gro{
    position:absolute;
   
    left: 124px;
    top: 140px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 112px;
    color: rgb(3, 82, 3);
}
#story{
    position: absolute;
    left: 324px;
    top: 257px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.vegetables{
    position:absolute;
    width:972px;
    height:195px;
    left:324px;
    top:80px;
    border-radius:5%;
}
#elipse{
    position: absolute;
    width: 200px;
    height: 137px;
    left: 27px;
    top: 298px;
    border-radius:80%;
    background:red;
}
#shop{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color:white;
}
.line{
    position: absolute;
    width: 1282px;
    height: 0px;
    left: 0px;
    top: 75px;
    border: 1px solid
}
#rectanglef{
    position: absolute;
    width: 225px;
    height: 59px;
    left: 67px;
    top: 478px;
    background:orange;
}
#fruits{
    position: absolute;
    width: 225px;
    height: 59px;
    left: 117px;
    top: 448px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #F5EDED;
}
#rectanglev{
    position: absolute;
    width: 225px;
    height: 59px;
    left: 530px;
    top: 478px;
    background: #2C693A;
}
#vegetables{
    position: absolute;
    width: 225px;
    height: 59px;
    left: 530px;
    top: 448px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #F5EDED;
}
#rectanglec{
    position: absolute;
    width: 225px;
    height: 59px;
    left: 1000px;
    top: 478px;
    background: #785520;
}
#cereal{
    position: absolute;
    left: 1050px;
    top: 448px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FBF6F6;

}
.fruitspic{
    position: absolute;
    width: 403px;
    height: 174px;
    left: 17px;
    top: 589px;
}
.vegetablespic{
    position: absolute;
    width: 455px;
    height: 174px;
    left: 449px;
    top: 589px;
}
.cerealspic{
    position: absolute;
    width: 374px;
    height: 174px;
    left: 912px;
    top: 589px;
}
#fruittext{
    position: absolute;
    width: 134px;
    height: 210px;
    left: 40px;
    top: 755px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
#vegetablestext{
    position: absolute;
    width: 162px;
    height: 210px;
    left: 519px;
    top: 755px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
#cerealstext{
    position: absolute;
    width: 146px;
    height: 210px;
    left: 1055px;
    top: 755px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
ul>li>a:hover{
    box-shadow:0 0 0 0.625em rgba(0,0,0,0.1),insert 0 0 0.625em rgba(255,255,255,0.6);
    background-color:rgba(107,93,84,0.678);
    color:rgba(0,35,122,0.7);
}
#line2{
    position: absolute;
    width: 1282px;
    height: 0px;
    left: 0px;
    top: 1042px;
    border: 1px solid #000000;
}
#wa{
    position: absolute;
    width: 81px;
    height: 76px;
    left: 1007px;
    top: 1042px;
}
#fb{
    position: absolute;
    width: 88px;
    height: 72px;
    left: 1088px;
    top: 1046px;
}
#tw{
    position: absolute;
    width: 97px;
    height: 79px;
    left: 1176px;
    top: 1042px;
}
nav>ul:hover{
    box-shadow:0 0 0 0.625em rgba(0,0,0,0.1),insert 0 0 0.625em rgba(255,255,255,0.6);
    background-color:rgba(107,93,84,0.678);
    color:rgba(0,35,122,0.7);
}